<h4> Form to create a book: </h4>

<form action="/books" method="post">

 <label> Title: </label>
 <input type="text" name="title" />

<br/> 

 <label> Year: </label>
 <input type="text" name="year" />

<br/> 

 <input type="submit" value="Create book">

</form>